In [101]:
# Load libraries
import numpy
from matplotlib import pyplot
from pandas import read_csv
from pandas import set_option
from pandas.plotting import scatter_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [3]:
train,test

(     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
 0              FDA15        9.300          Low Fat         0.016047
 1              DRC01        5.920          Regular         0.019278
 2              FDN15       17.500          Low Fat         0.016760
 3              FDX07       19.200          Regular         0.000000
 4              NCD19        8.930          Low Fat         0.000000
 5              FDP36       10.395          Regular         0.000000
 6              FDO10       13.650          Regular         0.012741
 7              FDP10          NaN          Low Fat         0.127470
 8              FDH17       16.200          Regular         0.016687
 9              FDU28       19.200          Regular         0.094450
 10             FDY07       11.800          Low Fat         0.000000
 11             FDA03       18.500          Regular         0.045464
 12             FDX32       15.100          Regular         0.100014
 13             FDS46       17.600          Regular         0.047257
 14             FDF32       16.350          Low Fat         0.068024
 15             FDP49        9.000          Regular         0.069089
 16             NCB42       11.800          Low Fat         0.008596
 17             FDP49        9.000          Regular         0.069196
 18             DRI11          NaN          Low Fat         0.034238
 19             FDU02       13.350          Low Fat         0.102492
 20             FDN22       18.850          Regular         0.138190
 21             FDW12          NaN          Regular         0.035400
 22             NCB30       14.600          Low Fat         0.025698
 23             FDC37          NaN          Low Fat         0.057557
 24             FDR28       13.850          Regular         0.025896
 25             NCD06       13.000          Low Fat         0.099887
 26             FDV10        7.645          Regular         0.066693
 27             DRJ59       11.650          low fat         0.019356
 28             FDE51        5.925          Regular         0.161467
 29             FDC14          NaN          Regular         0.072222
 ...              ...          ...              ...              ...
 8493           FDP21        7.420          Regular         0.025886
 8494           NCI54       15.200          Low Fat         0.000000
 8495           FDE22        9.695          Low Fat         0.029567
 8496           FDJ57        7.420          Regular         0.021696
 8497           FDT08       13.650          Low Fat         0.049209
 8498           NCP54       15.350          Low Fat         0.035293
 8499           NCK53       11.600          Low Fat         0.037574
 8500           NCQ42       20.350          Low Fat         0.000000
 8501           FDW21        5.340          Regular         0.005998
 8502           NCH43        8.420          Low Fat         0.070712
 8503           FDQ44       20.500          Low Fat         0.036133
 8504           NCN18          NaN          Low Fat         0.124111
 8505           FDB46       10.500          Regular         0.094146
 8506           DRF37       17.250          Low Fat         0.084676
 8507           FDN28        5.880          Regular         0.030242
 8508           FDW31       11.350          Regular         0.043246
 8509           FDG45        8.100          Low Fat         0.214306
 8510           FDN58       13.800          Regular         0.056862
 8511           FDF05       17.500          Low Fat         0.026980
 8512           FDR26       20.700          Low Fat         0.042801
 8513           FDH31       12.000          Regular         0.020407
 8514           FDA01       15.000          Regular         0.054489
 8515           FDH24       20.700          Low Fat         0.021518
 8516           NCJ19       18.600          Low Fat         0.118661
 8517           FDF53       20.750              reg         0.083607
 8518           FDF22        6.865          Low Fat         0.056783
 8519           FDS36        8.380          Regular         0.046982
 8520           NCJ29       10.600          Low Fat         0.035186
 8521           FDN46        7.210          Regular         0.145221
 8522           DRG01       14.800          Low Fat         0.044878

                   Item_Type  Item_MRP Outlet_Identifier  \
 0                     Dairy  249.8092            OUT049
 1               Soft Drinks   48.2692            OUT018
 2                      Meat  141.6180            OUT049
 3     Fruits and Vegetables  182.0950            OUT010
 4                 Household   53.8614            OUT013
 5              Baking Goods   51.4008            OUT018
 6               Snack Foods   57.6588            OUT013
 7               Snack Foods  107.7622            OUT027
 8              Frozen Foods   96.9726            OUT045
 9              Frozen Foods  187.8214            OUT017
 10    Fruits and Vegetables   45.5402            OUT049
 11                    Dairy  144.1102            OUT046
 12    Fruits and Vegetables  145.4786            OUT049
 13              Snack Foods  119.6782            OUT046
 14    Fruits and Vegetables  196.4426            OUT013
 15                Breakfast   56.3614            OUT046
 16       Health and Hygiene  115.3492            OUT018
 17                Breakfast   54.3614            OUT049
 18              Hard Drinks  113.2834            OUT027
 19                    Dairy  230.5352            OUT035
 20              Snack Foods  250.8724            OUT013
 21             Baking Goods  144.5444            OUT027
 22                Household  196.5084            OUT035
 23             Baking Goods  107.6938            OUT019
 24             Frozen Foods  165.0210            OUT046
 25                Household   45.9060            OUT017
 26              Snack Foods   42.3112            OUT035
 27              Hard Drinks   39.1164            OUT013
 28                    Dairy   45.5086            OUT010
 29                   Canned   43.6454            OUT019
 ...                     ...       ...               ...
 8493            Snack Foods  189.1872            OUT017
 8494              Household  110.4912            OUT017
 8495            Snack Foods  160.4920            OUT035
 8496                Seafood  185.3582            OUT017
 8497  Fruits and Vegetables  150.0050            OUT035
 8498              Household  124.5730            OUT018
 8499     Health and Hygiene  100.0042            OUT035
 8500              Household  125.1678            OUT017
 8501            Snack Foods  100.4358            OUT017
 8502              Household  216.4192            OUT045
 8503  Fruits and Vegetables  120.1756            OUT035
 8504              Household  111.7544            OUT027
 8505            Snack Foods  210.8244            OUT018
 8506            Soft Drinks  263.1910            OUT018
 8507           Frozen Foods  101.7990            OUT035
 8508  Fruits and Vegetables  199.4742            OUT045
 8509  Fruits and Vegetables  213.9902            OUT010
 8510            Snack Foods  231.5984            OUT035
 8511           Frozen Foods  262.5910            OUT018
 8512                  Dairy  178.3028            OUT013
 8513                   Meat   99.9042            OUT035
 8514                 Canned   57.5904            OUT045
 8515           Baking Goods  157.5288            OUT018
 8516                 Others   58.7588            OUT018
 8517           Frozen Foods  178.8318            OUT046
 8518            Snack Foods  214.5218            OUT013
 8519           Baking Goods  108.1570            OUT045
 8520     Health and Hygiene   85.1224            OUT035
 8521            Snack Foods  103.1332            OUT018
 8522            Soft Drinks   75.4670            OUT046

       Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
 0                          1999      Medium               Tier 1
 1                          2009      Medium               Tier 3
 2                          1999      Medium               Tier 1
 3                          1998         NaN               Tier 3
 4                          1987        High               Tier 3
 5                          2009      Medium               Tier 3
 6                          1987        High               Tier 3
 7                          1985      Medium               Tier 3
 8                          2002         NaN               Tier 2
 9                          2007         NaN               Tier 2
 10                         1999      Medium               Tier 1
 11                         1997       Small               Tier 1
 12                         1999      Medium               Tier 1
 13                         1997       Small               Tier 1
 14                         1987        High               Tier 3
 15                         1997       Small               Tier 1
 16                         2009      Medium               Tier 3
 17                         1999      Medium               Tier 1
 18                         1985      Medium               Tier 3
 19                         2004       Small               Tier 2
 20                         1987        High               Tier 3
 21                         1985      Medium               Tier 3
 22                         2004       Small               Tier 2
 23                         1985       Small               Tier 1
 24                         1997       Small               Tier 1
 25                         2007         NaN               Tier 2
 26                         2004       Small               Tier 2
 27                         1987        High               Tier 3
 28                         1998         NaN               Tier 3
 29                         1985       Small               Tier 1
 ...                         ...         ...                  ...
 8493                       2007         NaN               Tier 2
 8494                       2007         NaN               Tier 2
 8495                       2004       Small               Tier 2
 8496                       2007         NaN               Tier 2
 8497                       2004       Small               Tier 2
 8498                       2009      Medium               Tier 3
 8499                       2004       Small               Tier 2
 8500                       2007         NaN               Tier 2
 8501                       2007         NaN               Tier 2
 8502                       2002         NaN               Tier 2
 8503                       2004       Small               Tier 2
 8504                       1985      Medium               Tier 3
 8505                       2009      Medium               Tier 3
 8506                       2009      Medium               Tier 3
 8507                       2004       Small               Tier 2
 8508                       2002         NaN               Tier 2
 8509                       1998         NaN               Tier 3
 8510                       2004       Small               Tier 2
 8511                       2009      Medium               Tier 3
 8512                       1987        High               Tier 3
 8513                       2004       Small               Tier 2
 8514                       2002         NaN               Tier 2
 8515                       2009      Medium               Tier 3
 8516                       2009      Medium               Tier 3
 8517                       1997       Small               Tier 1
 8518                       1987        High               Tier 3
 8519                       2002         NaN               Tier 2
 8520                       2004       Small               Tier 2
 8521                       2009      Medium               Tier 3
 8522                       1997       Small               Tier 1

             Outlet_Type  Item_Outlet_Sales
 0     Supermarket Type1          3735.1380
 1     Supermarket Type2           443.4228
 2     Supermarket Type1          2097.2700
 3         Grocery Store           732.3800
 4     Supermarket Type1           994.7052
 5     Supermarket Type2           556.6088
 6     Supermarket Type1           343.5528
 7     Supermarket Type3          4022.7636
 8     Supermarket Type1          1076.5986
 9     Supermarket Type1          4710.5350
 10    Supermarket Type1          1516.0266
 11    Supermarket Type1          2187.1530
 12    Supermarket Type1          1589.2646
 13    Supermarket Type1          2145.2076
 14    Supermarket Type1          1977.4260
 15    Supermarket Type1          1547.3192
 16    Supermarket Type2          1621.8888
 17    Supermarket Type1           718.3982
 18    Supermarket Type3          2303.6680
 19    Supermarket Type1          2748.4224
 20    Supermarket Type1          3775.0860
 21    Supermarket Type3          4064.0432
 22    Supermarket Type1          1587.2672
 23        Grocery Store           214.3876
 24    Supermarket Type1          4078.0250
 25    Supermarket Type1           838.9080
 26    Supermarket Type1          1065.2800
 27    Supermarket Type1           308.9312
 28        Grocery Store           178.4344
 29        Grocery Store           125.8362
 ...                 ...                ...
 8493  Supermarket Type1          4727.1800
 8494  Supermarket Type1          1637.8680
 8495  Supermarket Type1          4314.3840
 8496  Supermarket Type1          3715.1640
 8497  Supermarket Type1          2247.0750
 8498  Supermarket Type2          1601.2490
 8499  Supermarket Type1          2976.1260
 8500  Supermarket Type1          1907.5170
 8501  Supermarket Type1          1508.0370
 8502  Supermarket Type1          3020.0688
 8503  Supermarket Type1          3392.9168
 8504  Supermarket Type3          4138.6128
 8505  Supermarket Type2          2117.2440
 8506  Supermarket Type2          3944.8650
 8507  Supermarket Type1           515.9950
 8508  Supermarket Type1          2587.9646
 8509      Grocery Store           424.7804
 8510  Supermarket Type1          7182.6504
 8511  Supermarket Type2          4207.8560
 8512  Supermarket Type1          2479.4392
 8513  Supermarket Type1           595.2252
 8514  Supermarket Type1           468.7232
 8515  Supermarket Type2          1571.2880
 8516  Supermarket Type2           858.8820
 8517  Supermarket Type1          3608.6360
 8518  Supermarket Type1          2778.3834
 8519  Supermarket Type1           549.2850
 8520  Supermarket Type1          1193.1136
 8521  Supermarket Type2          1845.5976
 8522  Supermarket Type1           765.6700

 [8523 rows x 12 columns],
      Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
 0              FDW58       20.750          Low Fat         0.007565
 1              FDW14        8.300              reg         0.038428
 2              NCN55       14.600          Low Fat         0.099575
 3              FDQ58        7.315          Low Fat         0.015388
 4              FDY38          NaN          Regular         0.118599
 5              FDH56        9.800          Regular         0.063817
 6              FDL48       19.350          Regular         0.082602
 7              FDC48          NaN          Low Fat         0.015782
 8              FDN33        6.305          Regular         0.123365
 9              FDA36        5.985          Low Fat         0.005698
 10             FDT44       16.600          Low Fat         0.103569
 11             FDQ56        6.590          Low Fat         0.105811
 12             NCC54          NaN          Low Fat         0.171079
 13             FDU11        4.785          Low Fat         0.092738
 14             DRL59       16.750               LF         0.021206
 15             FDM24        6.135          Regular         0.079451
 16             FDI57       19.850          Low Fat         0.054135
 17             DRC12       17.850          Low Fat         0.037981
 18             NCM42          NaN          Low Fat         0.028184
 19             FDA46       13.600          Low Fat         0.196898
 20             FDA31        7.100          Low Fat         0.109920
 21             NCJ31       19.200          Low Fat         0.182619
 22             FDG52       13.650               LF         0.065631
 23             NCL19          NaN          Low Fat         0.027447
 24             FDS10       19.200          Low Fat         0.035179
 25             FDX22        6.785          Regular         0.038455
 26             NCF19       13.000          Low Fat         0.035102
 27             NCE06        5.825          Low Fat         0.091485
 28             DRC27       13.800          Low Fat         0.058102
 29             FDE21       12.800               LF         0.022940
 ...              ...          ...              ...              ...
 5651           FDD23        9.500          Regular         0.048645
 5652           FDP32        6.650          Low Fat         0.087847
 5653           FDO31        6.760          Regular         0.028977
 5654           FDQ57        7.275          Low Fat         0.000000
 5655           FDX32          NaN          Regular         0.099375
 5656           FDC39          NaN          Low Fat         0.158425
 5657           FDU55       16.200          Low Fat         0.035911
 5658           FDL45       15.600          Low Fat         0.037656
 5659           DRK37        5.000          Low Fat         0.044073
 5660           FDK22        9.800          Low Fat         0.026065
 5661           DRG37          NaN          Low Fat         0.000000
 5662           FDK22        9.800          Low Fat         0.026234
 5663           DRH36       16.200          Low Fat         0.033516
 5664           DRC36       13.000          Regular         0.045168
 5665           DRE03          NaN          Low Fat         0.024110
 5666           FDF34        9.300          Regular         0.014019
 5667           FDZ22        9.395          Low Fat         0.045270
 5668           FDC44       15.600          Low Fat         0.288892
 5669           FDN31          NaN          Low Fat         0.072529
 5670           FDO03       10.395          Regular         0.037092
 5671           FDA01       15.000              reg         0.054463
 5672           NCH42        6.860          Low Fat         0.036594
 5673           FDF46        7.070          Low Fat         0.094053
 5674           DRL35       15.700          Low Fat         0.030704
 5675           FDW46       13.000          Regular         0.070411
 5676           FDB58       10.500          Regular         0.013496
 5677           FDD47        7.600          Regular         0.142991
 5678           NCO17       10.000          Low Fat         0.073529
 5679           FDJ26       15.300          Regular         0.000000
 5680           FDU37        9.500          Regular         0.104720

                   Item_Type  Item_MRP Outlet_Identifier  \
 0               Snack Foods  107.8622            OUT049
 1                     Dairy   87.3198            OUT017
 2                    Others  241.7538            OUT010
 3               Snack Foods  155.0340            OUT017
 4                     Dairy  234.2300            OUT027
 5     Fruits and Vegetables  117.1492            OUT046
 6              Baking Goods   50.1034            OUT018
 7              Baking Goods   81.0592            OUT027
 8               Snack Foods   95.7436            OUT045
 9              Baking Goods  186.8924            OUT017
 10    Fruits and Vegetables  118.3466            OUT017
 11    Fruits and Vegetables   85.3908            OUT045
 12       Health and Hygiene  240.4196            OUT019
 13                   Breads  122.3098            OUT049
 14              Hard Drinks   52.0298            OUT013
 15             Baking Goods  151.6366            OUT049
 16                  Seafood  198.7768            OUT045

In [4]:
train['source']='train'
test['source']='test'
data=pd.concat([train,test],ignore_index=True)
print(train.shape,data.shape,test.shape)

(8523, 13) (14204, 13) (5681, 12)

C:\Users\GT\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [5]:
data.apply(lambda x:sum(x.isnull()))

Item_Fat_Content                0
Item_Identifier                 0
Item_MRP                        0
Item_Outlet_Sales            5681
Item_Type                       0
Item_Visibility                 0
Item_Weight                  2439
Outlet_Establishment_Year       0
Outlet_Identifier               0
Outlet_Location_Type            0
Outlet_Size                  4016
Outlet_Type                     0
source                          0
dtype: int64

In [6]:
data.count()

Item_Fat_Content             14204
Item_Identifier              14204
Item_MRP                     14204
Item_Outlet_Sales             8523
Item_Type                    14204
Item_Visibility              14204
Item_Weight                  11765
Outlet_Establishment_Year    14204
Outlet_Identifier            14204
Outlet_Location_Type         14204
Outlet_Size                  10188
Outlet_Type                  14204
source                       14204
dtype: int64

In [7]:
data.describe()

,Item_MRP,Item_Outlet_Sales,Item_Visibility,Item_Weight,Outlet_Establishment_Year
count,14204.000000,8523.000000,14204.000000,11765.000000,14204.000000
mean,141.004977,2181.288914,0.065953,12.792854,1997.830681
std,62.086938,1706.499616,0.051459,4.652502,8.371664
min,31.290000,33.290000,0.000000,4.555000,1985.000000
25%,94.012000,834.247400,0.027036,8.710000,1987.000000
50%,142.247000,1794.331000,0.054021,12.600000,1999.000000
75%,185.855600,3101.296400,0.094037,16.750000,2004.000000
max,266.888400,13086.964800,0.328391,21.350000,2009.000000

In [8]:
data.apply(lambda x: len(x.unique()))

Item_Fat_Content                 5
Item_Identifier               1559
Item_MRP                      8052
Item_Outlet_Sales             3494
Item_Type                       16
Item_Visibility              13006
Item_Weight                    416
Outlet_Establishment_Year        9
Outlet_Identifier               10
Outlet_Location_Type             3
Outlet_Size                      4
Outlet_Type                      4
source                           2
dtype: int64

In [9]:
data.dtypes

Item_Fat_Content              object
Item_Identifier               object
Item_MRP                     float64
Item_Outlet_Sales            float64
Item_Type                     object
Item_Visibility              float64
Item_Weight                  float64
Outlet_Establishment_Year      int64
Outlet_Identifier             object
Outlet_Location_Type          object
Outlet_Size                   object
Outlet_Type                   object
source                        object
dtype: object

In [10]:
data.dtypes.index

Index(['Item_Fat_Content', 'Item_Identifier', 'Item_MRP', 'Item_Outlet_Sales',
       'Item_Type', 'Item_Visibility', 'Item_Weight',
       'Outlet_Establishment_Year', 'Outlet_Identifier',
       'Outlet_Location_Type', 'Outlet_Size', 'Outlet_Type', 'source'],
      dtype='object')

In [11]:
#Filter categorical Varibles
Column =[x for x in data.dtypes.index if data.dtypes[x]=='object']
Column

['Item_Fat_Content',
 'Item_Identifier',
 'Item_Type',
 'Outlet_Identifier',
 'Outlet_Location_Type',
 'Outlet_Size',
 'Outlet_Type',
 'source']

In [12]:
Column= [x for x in Column if  x not in ['Item_Identifier','Outlet_Identifier','source']]
print(Column)
for col in Column:
    print('\nFrequency of Categories for varible %s'%col)
    print (data[col].value_counts())

['Item_Fat_Content', 'Item_Type', 'Outlet_Location_Type', 'Outlet_Size', 'Outlet_Type']

Frequency of Categories for varible Item_Fat_Content
Low Fat    8485
Regular    4824
LF          522
reg         195
low fat     178
Name: Item_Fat_Content, dtype: int64

Frequency of Categories for varible Item_Type
Fruits and Vegetables    2013
Snack Foods              1989
Household                1548
Frozen Foods             1426
Dairy                    1136
Baking Goods             1086
Canned                   1084
Health and Hygiene        858
Meat                      736
Soft Drinks               726
Breads                    416
Hard Drinks               362
Others                    280
Starchy Foods             269
Breakfast                 186
Seafood                    89
Name: Item_Type, dtype: int64

Frequency of Categories for varible Outlet_Location_Type
Tier 3    5583
Tier 2    4641
Tier 1    3980
Name: Outlet_Location_Type, dtype: int64

Frequency of Categories for varible Outlet_Size
Medium    4655
Small     3980
High      1553
Name: Outlet_Size, dtype: int64

Frequency of Categories for varible Outlet_Type
Supermarket Type1    9294
Grocery Store        1805
Supermarket Type3    1559
Supermarket Type2    1546
Name: Outlet_Type, dtype: int64

In [13]:
#DAta Cleaning
avg_weight=data.pivot_table(values='Item_Weight',index='Item_Identifier')
print(avg_weight)
#boolen varible specifying missing item Weight values
miss_bool =data['Item_Weight'].isnull()
print(miss_bool)
print('Missing:%d'%sum(miss_bool))
data.loc[miss_bool,'Item_Weight'] = data.loc[miss_bool,'Item_Identifier'].apply(lambda x: avg_weight.loc[x])
print('Final #missing: %d'% sum(data['Item_Weight'].isnull()))

                 Item_Weight
Item_Identifier
DRA12                 11.600
DRA24                 19.350
DRA59                  8.270
DRB01                  7.390
DRB13                  6.115
DRB24                  8.785
DRB25                 12.300
DRB48                 16.750
DRC01                  5.920
DRC12                 17.850
DRC13                  8.260
DRC24                 17.850
DRC25                  5.730
DRC27                 13.800
DRC36                 13.000
DRC49                  8.670
DRD01                 12.100
DRD12                  6.960
DRD13                 15.000
DRD15                 10.600
DRD24                 13.850
DRD25                  6.135
DRD27                 18.750
DRD37                  9.800
DRD49                  9.895
DRD60                 15.700
DRE01                 10.100
DRE03                 19.600
DRE12                  4.590
DRE13                  6.280
...                      ...
NCX05                 15.200
NCX06                 17.600
NCX17                 21.250
NCX18                 14.150
NCX29                 10.000
NCX30                 16.700
NCX41                 19.000
NCX42                  6.360
NCX53                 20.100
NCX54                  9.195
NCY05                 13.500
NCY06                 15.250
NCY17                 18.200
NCY18                  7.285
NCY29                 13.650
NCY30                 20.250
NCY41                 16.750
NCY42                  6.380
NCY53                 20.000
NCY54                  8.430
NCZ05                  8.485
NCZ06                 19.600
NCZ17                 12.150
NCZ18                  7.825
NCZ29                 15.000
NCZ30                  6.590
NCZ41                 19.850
NCZ42                 10.500
NCZ53                  9.600
NCZ54                 14.650

[1559 rows x 1 columns]
0        False
1        False
2        False
3        False
4        False
5        False
6        False
7         True
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18        True
19       False
20       False
21        True
22       False
23        True
24       False
25       False
26       False
27       False
28       False
29        True
         ...
14174    False
14175    False
14176    False
14177    False
14178     True
14179     True
14180    False
14181    False
14182    False
14183    False
14184     True
14185    False
14186    False
14187    False
14188     True
14189    False
14190    False
14191    False
14192     True
14193    False
14194    False
14195    False
14196    False
14197    False
14198    False
14199    False
14200    False
14201    False
14202    False
14203    False
Name: Item_Weight, Length: 14204, dtype: bool
Missing:2439
Final #missing: 0

In [14]:
# import mode function:
from scipy.stats import mode
size_mode=data.pivot_table(values='Outlet_Size',columns='Outlet_Type',aggfunc=(lambda x:mode(x).mode[0]))
print('Mode for each Outlet_Type:')
print(size_mode)
miss_bool=data['Outlet_Size'].isnull()
print(miss_bool)
print('n\n#missing %d'%sum(miss_bool))
data.loc[miss_bool,'Outlet_Size'] = data.loc[miss_bool,'Outlet_Type'].apply(lambda x: size_mode[x])
print(sum(data['Outlet_Size'].isnull()))

C:\Users\GT\Anaconda3\lib\site-packages\scipy\stats\stats.py:248: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

Mode for each Outlet_Type:
Outlet_Type Grocery Store Supermarket Type1 Supermarket Type2  \
Outlet_Size         Small             Small            Medium

Outlet_Type Supermarket Type3
Outlet_Size            Medium
0        False
1        False
2        False
3         True
4        False
5        False
6        False
7        False
8         True
9         True
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25        True
26       False
27       False
28        True
29       False
         ...
14174    False
14175     True
14176    False
14177    False
14178    False
14179    False
14180    False
14181    False
14182    False
14183    False
14184    False
14185     True
14186    False
14187    False
14188    False
14189    False
14190    False
14191     True
14192    False
14193     True
14194    False
14195    False
14196    False
14197    False
14198    False
14199    False
14200    False
14201     True
14202     True
14203     True
Name: Outlet_Size, Length: 14204, dtype: bool
n
#missing 4016
0

In [15]:
data.pivot_table(values='Item_Outlet_Sales',index='Outlet_Type')

                   Item_Outlet_Sales
Outlet_Type
Grocery Store             339.828500
Supermarket Type1        2316.181148
Supermarket Type2        1995.498739
Supermarket Type3        3694.038558

In [16]:
#Determine average visibility of a product
visibility_avg = data.pivot_table(values='Item_Visibility', index='Item_Identifier')

#Impute 0 values with mean visibility of that product:
miss_bool = (data['Item_Visibility'] == 0)

print ('Number of 0 values initially: %d'%sum(miss_bool))
data.loc[miss_bool,'Item_Visibility'] = data.loc[miss_bool,'Item_Identifier'].apply(lambda x: visibility_avg.loc[x])
print ('Number of 0 values after modification: %d'%sum(data['Item_Visibility'] == 0))

Number of 0 values initially: 879
Number of 0 values after modification: 0

In [17]:
data['Item_Visibility_MeanRatio'] = data.apply(lambda x: x['Item_Visibility']/visibility_avg.loc[x['Item_Identifier']], axis=1)
print( data['Item_Visibility_MeanRatio'].describe())

count    14204.000000
mean         1.061884
std          0.235907
min          0.844563
25%          0.925131
50%          0.999070
75%          1.042007
max          3.010094
Name: Item_Visibility_MeanRatio, dtype: float64

In [18]:
#Get the first two characters of ID:
data['Item_Type_Combined'] = data['Item_Identifier'].apply(lambda x: x[0:2])
#Rename them to more intuitive categories:
data['Item_Type_Combined'] = data['Item_Type_Combined'].map({'FD':'Food',
                                                             'NC':'Non-Consumable',
                                                             'DR':'Drinks'})
data['Item_Type_Combined'].value_counts()

Food              10201
Non-Consumable     2686
Drinks             1317
Name: Item_Type_Combined, dtype: int64

In [19]:
#Years:
data['Outlet_Years'] = 2013 - data['Outlet_Establishment_Year']
print(data['Outlet_Years'])
data['Outlet_Years'].describe()

0        14
1         4
2        14
3        15
4        26
5         4
6        26
7        28
8        11
9         6
10       14
11       16
12       14
13       16
14       26
15       16
16        4
17       14
18       28
19        9
20       26
21       28
22        9
23       28
24       16
25        6
26        9
27       26
28       15
29       28
         ..
14174    26
14175    11
14176     9
14177    26
14178    28
14179    28
14180    16
14181    26
14182    14
14183    26
14184    28
14185     6
14186     4
14187     4
14188    28
14189    16
14190    16
14191    15
14192    28
14193     6
14194    14
14195    14
14196     4
14197    16
14198    14
14199    16
14200     4
14201    11
14202     6
14203    11
Name: Outlet_Years, Length: 14204, dtype: int64

count    14204.000000
mean        15.169319
std          8.371664
min          4.000000
25%          9.000000
50%         14.000000
75%         26.000000
max         28.000000
Name: Outlet_Years, dtype: float64

In [20]:
print('Original_Categories:')
print(data['Item_Fat_Content'].value_counts())
data['Item_Fat_Content']=data['Item_Fat_Content'].replace({'LF':'Low Fat','reg':'Regular','low fat':'Low Fat'})
print('/n New values: %s' %data['Item_Fat_Content'].value_counts())

Original_Categories:
Low Fat    8485
Regular    4824
LF          522
reg         195
low fat     178
Name: Item_Fat_Content, dtype: int64
/n New values: Low Fat    9185
Regular    5019
Name: Item_Fat_Content, dtype: int64

In [21]:
#Mark non-consumables as separate category in low_fat:
data.loc[data['Item_Type_Combined']=="Non-Consumable",'Item_Fat_Content'] = "Non-Edible"
data['Item_Fat_Content'].value_counts()

Low Fat       6499
Regular       5019
Non-Edible    2686
Name: Item_Fat_Content, dtype: int64

In [22]:
from sklearn.preprocessing import LabelEncoder
le =LabelEncoder()
data['Outlet']=le.fit_transform(data['Outlet_Identifier'])
var_mod=['Item_Fat_Content','Outlet_Location_Type','Outlet_Size','Item_Type_Combined','Outlet_Type','Outlet']
le=LabelEncoder()
for i in var_mod:
    data[i]=le.fit_transform(data[i])
    print(i)

Item_Fat_Content
Outlet_Location_Type
Outlet_Size
Item_Type_Combined
Outlet_Type
Outlet

In [23]:
data.dtypes

Item_Fat_Content               int32
Item_Identifier               object
Item_MRP                     float64
Item_Outlet_Sales            float64
Item_Type                     object
Item_Visibility              float64
Item_Weight                  float64
Outlet_Establishment_Year      int64
Outlet_Identifier             object
Outlet_Location_Type           int32
Outlet_Size                    int32
Outlet_Type                    int32
source                        object
Item_Visibility_MeanRatio    float64
Item_Type_Combined             int32
Outlet_Years                   int64
Outlet                         int64
dtype: object

In [24]:
#One Hot coding
data=pd.get_dummies(data,columns=['Item_Fat_Content','Outlet_Location_Type','Outlet_Size','Item_Type_Combined','Outlet_Type','Outlet'])

In [25]:
data.dtypes

Item_Identifier               object
Item_MRP                     float64
Item_Outlet_Sales            float64
Item_Type                     object
Item_Visibility              float64
Item_Weight                  float64
Outlet_Establishment_Year      int64
Outlet_Identifier             object
source                        object
Item_Visibility_MeanRatio    float64
Outlet_Years                   int64
Item_Fat_Content_0             uint8
Item_Fat_Content_1             uint8
Item_Fat_Content_2             uint8
Outlet_Location_Type_0         uint8
Outlet_Location_Type_1         uint8
Outlet_Location_Type_2         uint8
Outlet_Size_0                  uint8
Outlet_Size_1                  uint8
Outlet_Size_2                  uint8
Item_Type_Combined_0           uint8
Item_Type_Combined_1           uint8
Item_Type_Combined_2           uint8
Outlet_Type_0                  uint8
Outlet_Type_1                  uint8
Outlet_Type_2                  uint8
Outlet_Type_3                  uint8
Outlet_0                       uint8
Outlet_1                       uint8
Outlet_2                       uint8
Outlet_3                       uint8
Outlet_4                       uint8
Outlet_5                       uint8
Outlet_6                       uint8
Outlet_7                       uint8
Outlet_8                       uint8
Outlet_9                       uint8
dtype: object

In [26]:
data[['Item_Fat_Content_0','Item_Fat_Content_1','Item_Fat_Content_2']].head(10)

   Item_Fat_Content_0  Item_Fat_Content_1  Item_Fat_Content_2
0                   1                   0                   0
1                   0                   0                   1
2                   1                   0                   0
3                   0                   0                   1
4                   0                   1                   0
5                   0                   0                   1
6                   0                   0                   1
7                   1                   0                   0
8                   0                   0                   1
9                   0                   0                   1

In [27]:

data.drop(['Item_Type','Outlet_Establishment_Year'],axis=1,inplace=True)

In [28]:

train = data.loc[data['source']=="train"]
test = data.loc[data['source']=="test"]

In [29]:

test.drop(['Item_Outlet_Sales','source'],axis=1,inplace=True)
train.drop(['source'],axis=1,inplace=True)

C:\Users\GT\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

NameError: name 'plot' is not defined

In [30]:
#Export files as modified versions:
train.to_csv("train_modified.csv",index=False)
test.to_csv("test_modified.csv",index=False)

# Lets start by making a baseline model. Baseline model is the one which requires no predictive model and its like an informed guess. For instance, in this case lets predict the sales as the overall average sales. This can be done as:

In [34]:
#Mean based:
mean_sales =train['Item_Outlet_Sales'].mean()
mean_sales

2181.2889135750365

In [102]:
mean_sales = train['Item_Outlet_Sales'].mean()

#Define a dataframe with IDs for submission:
base1 = test[['Item_Identifier','Outlet_Identifier']]
base1['Item_Outlet_Sales'] = mean_sales

#Export submission file
base1.to_csv("alg0.csv",index=False)

C:\Users\GT\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """